{% extends 'mi_app/home.html' %}

{% block content %}

<br>
<br>





<div class="container text-center">
    <h1>Nike</h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for nike in nike %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                
                {{nike.titulo}}
                
                {% if user.id == nike.usuario.id %}
               
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}